[user]
	name = davidportlouis
	email = dportlouis@gmail.com
	signingKey = 4DAD1E4912D6AB4D
[core]
	editor = vim
	excludesfile = /home/art3mis/.gitignore_global
[merge]
	conflictstyle = diff3
[alias]
        graph=!git log --all --graph --decorate --oneline
	st=!git status
	all=!git add .
	ls=!git ls-files
