[user]
	name = davidportlouis
	email = dportlouis@gmail.com
	signingKey = F4F56B0087127ABC
[core]
	editor = vim
	excludesfile = /home/art3mis/.gitignore_global
[merge]
	conflictstyle = diff3
[alias]
        graph=!git log --all --graph --decorate --oneline
	st=!git status
	all=!git add .
	ls=!git ls-files
